{% if page.url contains '.xml' or page.url contains '.json' %}
{% else %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3386046731537333" crossorigin="anonymous"></script>
<meta name="google-site-verification" content="mcVX_1eVNAtuUkRvS_IZp8d2YLlIfMYfCh_kZTXdHN0" />
<meta name="naver-site-verification" content="bf2cad0ec300604ff64f61fc0763e733f697485c" />  

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3386046731537333"crossorigin="anonymous"></script>
<meta name="google-site-verification" content="pFS-krfQuvCb108A2sBsDkgA7JlLwJ76nxqA8EA3Tp4" />
<meta name="naver-site-verification" content="e2c23e39b763db293035762a01c4651229d887b6" />
{% endif %}
